[Unit]
Description=LSVMTOOL Password Agent
DefaultDependencies=no
Conflicts=shutdown.target
After=plymouth-start.service
Before=shutdown.target

[Service]
ExecStart=/sbin/lsvmtool-password-agent /etc/lsvmload/bootkey /etc/lsvmload/rootkey
StandardOutput=journal+console
StandardError=journal+console
